.hd{
	text-align: center;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #EEEEEE;
}

.hd p{
	font-size: 26px;
	line-height: 50px;
	font-weight: bolder;
}

.hd img{
	margin-top: 10px;
}

.return{
	position: absolute;
	left: 10px;
	top: 0;
}

.portrait{
	text-align: center;
	height: auto !important;
	border: 0 !important;
}

.portrait img{
	margin-top: 20px;
	margin-bottom: 10px;
}

.portrait p{
	font-size: 20px;
	margin-bottom: 20px;
}

.bd-hd{
	height: auto !important;
}

.bd div{
	border-bottom:1px solid #EEEEEE;
	height: 50px;
	line-height: 50px;
}

.bd a{
	margin-left: 20px;
	font-size: 20px;
	line-height: 30px;
}

.bd input{
	margin: 10px 0 !important;
	text-align: right;
	width: 50%;
	border: 0;
	font-size: 20px;
	float: right;
	height: 30px;
	padding: 0;
	margin-right: 20px !important;
}

.bz{
	border: 0 !important;
	height: auto !important;
}

.radio{
	display: inline-block;
	margin-right: 20px;
}

.radio input{
	float: none;
	height: 30px;
	width: 30px;
	margin-right: 5px !important;
}

.radio span{
	font-size: 20px;
	margin-right: 50px;
}

.span{
	font-size: 40px;
	color: darkgray;
	margin-right: 20px;
}

.ft button{
	margin-top: 20px !important;
	width: 60%;
	line-height: 40px;
	padding: 0;
	margin: 0 20%;
	font-size: 22px;
	margin-bottom: 20px;
	height: 44px;
	border-radius: 5px;
	border: 2px solid #EEEEEE;
}

.ft-ft img{
	margin-right: 10px;
	vertical-align: middle;
	margin-left: 20px;
}

.ft-ft div{
	display: inline-block;
	vertical-align: middle;
}
