.hd {
	background: url(../img/hd-bj.png) no-repeat;
	height: 230px;
}

.hd div {
	position: relative;
	z-index: 2;
	display: inline-block;
	/*text-align: center;*/
	margin-top: 10px;
	margin-left: 20px;
	height: 60px;
	vertical-align: middle;
}

.tx {
	margin-top: 20px !important;
	height: auto !important;
}

.hd p {
	color: #090700;
	font-size: 22px;
}

.fb{
	display: block !important;
}


.fb{
	display: block !important;
}

.fb p {
	font-weight: bolder;
	text-align: left;
}

.fb div {
	display: block;
	margin: 0;
}

.fb div img {
	width: 40px;
	height: 40px;
}

.tx p {
	text-align: center !important;
}

.hd p {
	margin-bottom: 10px;
	text-align: left;
}

.main {
	margin: 20px;
}

.main-hd {
	margin-bottom: 20px;
}

.main-hd a {
	font-size: 24px;
	font-weight: bolder;
	vertical-align: middle;
	margin-left: 10px;
}

.main-ft ul {
	margin-top: 10px;
}

.main-ft img {
	width: 100%;
	position: relative;
	z-index: 2;
}

.main-ft ul li {
	display: inline-block;
	width: 30%;
}

.main-inner {
	margin-bottom: 20px;
}

.foot{
	position: relative;
}
